<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

    <h1>FIFA World Cup 2026 Prognostics</h1>
    <h2 th:text="'Logged in user: ' + ${member.name}"></h2>
    <a th:if="${member.team == null}"
       th:href="@{/teams/{memberId}(memberId=${member.id})}">
        My Team
    </a>
    <a th:if="${member.team != null}"
       th:href="@{/teams/{memberId}/{teamName}(memberId=${member.id}, teamName=${member.team})}">
        My Team
    </a> <br/>
    <a th:href="@{/teams/leaderboard}">Leaderboard</a><br/>
    <a th:href="@{/prognostics/user/{memberId}(memberId=${member.id})}">My Prognostics</a>

    <table  border="1" cellpadding="8" cellspacing="0">
        <thead>
            <tr>
                <th>Team A</th>
                <th>Team B</th>
                <th>Date and Time</th>
                <th>Location</th>
                <th>Match Details</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="match : ${matches}">
                <td th:text="${match.countryA}"></td>
                <td th:text="${match.countryB}"></td>
                <td th:text="${{match.date}}"></td>
                <td th:text="|${match.stadium.name}, ${match.stadium.city}|"></td>
                <td>
                    <a th:href="@{/matches/{matchId}/{memberId}(matchId=${match.id}, memberId=${member.id})}">
                        Details
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>