<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Join Team</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body>
    <h1>Join Team</h1>
    <form th:action="@{/teams/members}" th:object="${joinTeamInputDTO}" method="post">
        <p>
            <label>Team Name</label>
            <input type="text" th:field="*{teamName}"/>
            <span th:if="${#fields.hasErrors('teamName')}" th:errorclass="error" th:errors="*{teamName}"></span>
        </p>

        <p>
            <label>Invite Code</label>
            <input type="text" th:field="*{inviteCode}"/>
            <span th:if="${#fields.hasErrors('inviteCode')}" th:errorclass="error" th:errors="*{inviteCode}"></span>
        </p>

            <input type="hidden" th:field="*{memberId}"/>

            <button type="submit">Submit</button>
    </form>
</body>
</html>