<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Match</title>
</head>
<body>

<h1 th:text="'Teams: ' + ${match.countryA} + ' vs ' + ${match.countryB}"></h1>
<p th:text="'Location: ' + ${match.stadium.name} + ', ' + ${match.stadium.city}"></p>
<p th:text="'Date: ' + ${match.date}"></p>
<p th:text="'Time: ' + ${match.startTime} + ' - ' + ${match.endTime}"></p>

<h2>Final Score</h2>
<p>To Be Implemented</p>

<h2>Your Prognostic</h2>
<div th:if="${prognostic == null}">
    <p>No prognostic yet for this match.</p>
    <div th:if="!${match.date}">
        <a th:href="@{/prognostics/form/{matchId}/{memberId}(matchId=${match.id}, memberId=${memberId})}">
            <button>
                Add Prognostic
            </button>
        </a>
    </div>
</div>
<div th:if="${prognostic != null}">
    <p th:text="'Goals ' + ${match.countryA} + ': ' + ${prognostic.goalsTeamA}"></p>
    <p th:text="'Goals ' + ${match.countryB} + ': ' + ${prognostic.goalsTeamB}"></p>

    <div th:if="${!match.date}">
        <a th:href="@{/prognostics/form/{matchId}/{memberId}(matchId=${match.id}, memberId=${memberId})}">
            <button>
                Edit
            </button>
        </a>
    </div>
</div>

</body>
</html>