<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Match</title>
</head>
<body>

<h1 th:text="'Teams: ' + ${match.countryA} + ' vs ' + ${match.countryB}"></h1>
<p th:text="'Location: ' + ${match.stadiumName} + ', ' + ${match.stadiumCity}"></p>
<p th:text="'Date: ' + ${match.date}"></p>
<p th:text="'Time: ' + ${match.startTime} + ' - ' + ${match.endTime}"></p>

<h2>Final Score</h2>
<div th:if="${match.scoreA != null}">
    <p th:text="|${match.scoreA} - ${match.scoreB}|"></p>
</div>
<div th:if="${match.scoreA == null}">
    <p>This match has not been played yet</p>
</div>

<h2>Your Prognostic</h2>
<div th:if="${prognostic == null}">
    <p>No prognostic yet for this match.</p>
    <div th:if="${canEdit}">
        <a th:href="@{/prognostics/form/{matchId}/{memberId}(matchId=${match.id}, memberId=${memberId})}">
            <button>
                Add Prognostic
            </button>
        </a>
    </div>
 </div>
 <div th:if="${prognostic != null}">
     <p th:text="'Goals ' + ${match.countryA} + ': ' + ${prognostic.goalsTeamA}"></p>
     <p th:text="'Goals ' + ${match.countryB} + ': ' + ${prognostic.goalsTeamB}"></p>

     <div th:if="${canEdit}">-->
         <a th:href="@{/prognostics/form/{matchId}/{memberId}(matchId=${match.id}, memberId=${memberId})}">
             <button>
                 Edit
             </button>
         </a>
    </div>
 </div>
  </body>
  </html>