<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Team</title>
</head>
<body>

    <div th:if="${team != null}">
        <h1 th:text="${team.teamName}"></h1>

        <table border="1" cellpadding="8" cellspacing="0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Score</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="m : ${members}">
                        <td th:text="${m.name}" th:style="${m.name == team.owner} ? 'background-color: lightblue'"></td>
                    <td th:text="${m.score}"></td>
                    <td th:if="${m.name != team.owner}">
                        <form th:action="@{/teams/{teamName}/members/{memberId}/{ownerId}(memberId=${m.id}, ownerId=${memberId}, teamName=${team.teamName})}" method="post">
                        <button type="submit">delete</button>
                        </form>
                    </td>
                </tr>
                <tr th:text="|Totale score: ${team.score}|"></tr>
            </tbody>
        </table>
        <div th:block th:if="${team.inviteCode == null}">
            <form th:action="@{/teams/{teamId}/invite(teamId=${team.teamName})}" method="post">
                <button type="submit">Generate invitecode</button>
            </form>
        </div>
        <div th:block th:if="${team.inviteCode != null}">
            <p th:text="${team.inviteCode}"></p>
        </div>

    </div>
    <div th:if="${team == null}">
        <a th:href="@{/teams/{memberId}/create(memberId=${memberId})}">
            Add team
        </a><br/>
        <a th:href="@{/teams/{memberId}/join(memberId=${memberId})}">
            Join team
        </a>
    </div>
</body>
</html>